*{
    font-family: cursive;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #224b9c, #66107b);
    margin-top: 25vh;
}
.container{
    max-width: 540px;
    background-color: white;
    margin: 100px auto 30px;
    padding: 10px;
    border-radius: 10px;

}

.todo-app h1{
    color: #2e1e61;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

h1 img{
    width: 40px;
    height: 40px;
    padding-top: 6px;
}
.task-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-left: 10px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
    font-size: 14px;
}

button{
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    background-color: #f56656;
    cursor: pointer;
}

ul {
    padding-left: 10px;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 10px 5px 0px 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
}

ul li::before{
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 12px;
    left: 1px;
}

.completed{
    text-decoration: line-through;
    color: #555;
    opacity: 0.5;
}

.completed::before{
    background-image: url(images/checked.png);

}


span{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

span:hover{
        background: #edeef0;
}

